<div class="container w-50 mt-5 text-centre">
   <div class="text-center display-3 m-3 text-white">
    Word Limit : {{limit}}
   </div>

  <!-- Slider -->
  <input 
  type="range"
  min="1"
  max="50"
  value="{{limit}}"
  class="slider form-control-range"
  (change)="handleSliderChange($event.target.value)"
  />
  <!-- button  -->
  <div class="text-center"> 
    <button (click)="generate()" class="btn btn-info">Generate Words</button>
  </div>
  <!-- Display Card -->
  <div *ngIf="words"  class="card card-body">
    <p class="display-4">
      {{words}}
    </p>
  </div>
</div>