<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <!-- property binding, passing (prop[user]="user") from parent(app.component) tp child(card.component) -->
        <app-card [user]="user" *ngIf="user; else loadingBlock"></app-card>
        <div class="text-center mt-3">
          <button (click)="onSubmit()" class="btn btn-warning btn-lg w-100" type="reset">
            Refresh
          </button>
        <ng-template #loadingBlock>
          <div class="text-center mt-5">
            <div class="spinner-border spinner-grow-mg text-white"
            role="status">
            <!-- <div class="text-white">
              loading...
            </div> -->
          </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>